*__pycache__*
*egg-info*
outputs*
multirun*
cross_eval/*
saves*
_saves*
log
venv


*.swp
submitit_logs

user_defined_freezies/*.npy
.idea
wandb
.DS_Store
wandb_cache
wandb_output_*

output_logs
error_logs